:root.theme-light {
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --content-title-color: #353430;
  --content-subtitle-color: #353430;
  --text-color: #353430;
  --main-font: "IBM Plex Mono", sans-serif;
  --bg-image: url("../images/cover-image-light.png");
  --apparence: none;
  --button-hover-outline: rgba(50, 49, 45, 0.4);
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
