/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --content-title-color: #353430;
  --content-subtitle-color: #353430;
  --text-color: #353430;
  --main-font: "IBM Plex Mono", sans-serif;
  --bg-image: url("../images/cover-image-light.png");
  --apparence: none;
  --button-hover-outline: rgba(50, 49, 45, 0.4);
  --logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}
